%h1 Game #{@character}

= link_to 'Buchstabe B', "/games/b/questions_and_answers/0/points/0/time/#{Time.now}", class: 'button'
= link_to 'Buchstabe D', "/games/d/questions_and_answers/0/points/0/time/#{Time.now}", class: 'button'
